/**! ----- Button General Styling ---- **/
.btn{
    font-size: rem(15);
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    @extend .rounded--3;
    padding: rem(10) rem(20);
    position: relative;
    z-index: 1;
    &:focus{
        box-shadow: none;
    }
    &--lg{
        padding-left: rem(50);
        padding-right: rem(50);
        @include breakpoint-min(lg){
            padding-left: rem(68);
            padding-right: rem(68);
        }
        min-height: rem(55);
    }
    &--md{
        min-width: rem(187);
        min-height: rem(55);
    }
}

/**! ----- Button outline ---- **/
.btn-outline{
    border-width: 1px;
    border-style: solid;
}
/**! ----- Button Border Color ---- **/
.btn-border-color-dark-500{
    border-color: $border-dark-500;
}

/**! ----- Button color ---- **/
.btn-color{
    &--primary{
        color: $color-primary;
    }
    &--white{
        color: $color-white !important;
    }
}

/**! ----- Button Background ---- **/
.btn-bg--primary{
    background-color: $color-primary;
}

/**! ----- Button icon ---- **/


/**! ----- button Cta ---- **/



/**! ----- button Media (Play Buttons) ---- **/

/**! ----- button Group ---- **/
